
<head>
  <!-- <%= javascript_include_tag "application.js" %> -->
  <%= stylesheet_link_tag "homes.css" %>

</head>

<body>

<div class="slideshow-container">
  image slides container
  <div class="mySlides firstpic fade">
    <%= image_tag 'poster1.jpg', class:"img_posters" %>
    <div class="text">Caption One</div>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'poster2.jpg', class:"img_posters"%>
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <%= image_tag 'poster3.jpg', class:"img_posters" %>
    <div class="text">Caption Three</div>
  </div>

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

</body>
